.navbar-links {
  list-style-type: none;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.navbar-links li {
  margin-right: 20px;
}

.apple-logo-img img {
  width: 15px;
  margin-right: 23px;
  margin-left: 10px;
}

.navbar {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.hero-paragraph {
  font-size: 50px;
  margin-left: 10px;
  color: gray;
}
.hero-paragraph span {
  color: black;
}

.hero-section-images {
  flex-direction: column;
  display: flex;
}

.mac-img {
  width: 130px;
  margin-left: 20px;
}

.iphone-image {
  width: 130px;
  margin-left: 200px;
  top: -125px;
  position: relative;
}

.mac-a-tag {
  margin-left: 80px;
}

.iphone-a-tag {
  margin-left: 245px;
  margin-top: -142px;
}
