.navbar-links {
  list-style-type: none;
  display: relative;
  padding: 0px;
  margin: 0px;
}

.apple-logo-img-links img {
  width: 15px;
  margin-right: 23px;
  margin-left: 10px;
  display: inline-block;
}

.navbar-links a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  display: inline-block;
}

a:visited {
  color: black;
}

.hero-paragraph {
  font-size: 50px;
  margin-left: 25px;
  color: gray;
}

.hero-paragraph span {
  color: black;
}

.mac-img {
  width: 200px;
  margin-left: 20px;
}

.mac-a-tag {
  position: absolute;
  margin-left: -95px;
  margin-top: 141px;
  font-size: 18px;
  text-decoration: none;
}

.here-section-iphone {
  width: 200px;
}

.iphone-image {
  width: 200px;
  margin-left: 280px;
  top: -125px;
  position: relative;
}

.iphone-a-tag {
  position: absolute;
  font-size: 18px;
  margin-left: 360px;
  margin-top: -125px;
  text-decoration: none;
}
